.border{
    border: 2px solid red;
    margin: 3px;
}

.bg{
    background-color: #212121;
    color: white;
}

.flex{
    display: flex;
}

.text-centre{
    align-items: center;
}

.invert{
    filter: invert(1);
}
.h1{
    padding: 30px 20px;
}

.m1{
    margin-left: 15px;
}